@import '../../utils/style/global.scss';

$arrow-outer-pos: 23px;

.full-size {
  width: 100%;
  height: 415px;
}

.arrow-size {
  position: absolute;
  top: 149px;
  width: 46.68px;
  height: 79.2px;
  cursor: pointer;
}

.Carousel {
  @extend .full-size;
  border-radius: $border-radius;
  background-color: lightgray; //couleur de secours
  position: relative;

  &__logement {
    position: relative;
    @extend .full-size;
    border-radius: inherit;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;

    &__item {
      @extend .full-size;
      min-width: 100%;
      border-radius: inherit;

      img {
        @extend .full-size;
        border-radius: inherit;
      }
    }
  }

  &__previous {
    left: $arrow-outer-pos;
    @extend .arrow-size;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__next {
    right: $arrow-outer-pos;
    @extend .arrow-size;
    animation: transform 1s ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__counter {
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 18px;
    color: $text-color;
  }
}
