@import '../../utils/style/global.scss';

$arrow-outer-pos: 23px;

@mixin full-size {
  @include size(100%, 415px);
  min-width: 100%;
}

@mixin small-size {
  height: 255px;
}

@mixin arrow-pos {
  position: absolute;
  top: 149px;
  cursor: pointer;
}

@mixin arrow-size($top, $width, $height) {
  top: $top;
  @include size($width, $height);
}

@mixin arrow($rotation) {
  transform: rotate($rotation);
  padding-left: 10px;
  @include arrow-size(149px, 46.68px, 79.2px);
  @include arrow-pos;
}

.SlideShow {
  @include full-size;
  border-radius: $border-radius-large;
  background-color: lightgray;
  position: relative;

  @media (max-width: 768px) {
    @include small-size;
    border-radius: $border-radius-small;
  }

  &__logement {
    position: relative;
    @include full-size;
    border-radius: inherit;
    display: flex;
    transition: transform 0.5s;

    @media (max-width: 768px) {
      @include small-size;
      border-radius: inherit;
    }

    &__item {
      @include full-size;
      border-radius: inherit;

      @media (max-width: 768px) {
        @include small-size;
      }

      img {
        @include full-size;
        border-radius: inherit;

        @media (max-width: 768px) {
          @include small-size;
          border-radius: inherit;
        }
      }
    }
  }

  &__previous {
    @include arrow(0deg);
    left: $arrow-outer-pos;

    @media (max-width: 768px) {
      left: 0;
      @include arrow-size(116px, 16px, 24px);
    }
  }

  &__next {
    @include arrow(180deg);
    right: $arrow-outer-pos;

    @media (max-width: 768px) {
      right: 0;
      @include arrow-size(116px, 16px, 24px);
    }
  }

  &__counter {
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 18px;
    color: $text-color;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
