@import '../../utils/style/global.scss';

.Error {
  display: flex;
  flex-direction: column;
  gap: 139px;
  padding: 139px 0;

  @media (max-width: 768px) {
    gap: 113px;
    padding: 113px 0;
  }

  &__status {
    height: 263px;
    line-height: 263px;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    color: $primary-color;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 96px;
      height: 99px;
      line-height: 99px;
    }
  }

  &__message {
    font-size: 36px;
    color: $primary-color;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__link {
    font-size: 18px;
    text-align: center;
    color: $secondary-color;
    text-decoration: underline;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
