@import '../../utils/style/global.scss';

.Host {
  display: flex;
  gap: 10px;
  margin-right: 5px;

  &__name {
    height: 52px;
    color: $primary-color;
    align-self: center;

    p {
      font-size: 18px;
      text-align: right;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &__photo {
    img {
      @include image-size(64px, 64px);
      border-radius: 50%;
      background-color: #c4c4c4;

      @media (max-width: 768px) {
        @include image-size(32px, 32px);
      }
    }
  }
}
