@import '../../utils/style/global.scss';

.Collapse {
  max-width: 1023px;
  width: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 10px 20px 10px 10px; //diff entre about et appart
    background-color: $primary-color;
    border-radius: 5px;

    p {
      display: flex;
      align-items: center;
      font-size: 18px; //appart
      //font-size: 24px;//about
      font-weight: 700;
      color: $text-color;
      margin: 0;
    }

    img {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    &--open {
      transform: rotate(-180deg);
      transition: 0.3s ease-in-out;
    }

    &--close {
      transform: rotate(0deg);
      transition: 0.3s ease-in-out;
    }
  }

  &__content {
    position: relative;
    z-index: -1;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 5px;
    animation: open 0.3s ease-in-out;
  }
}

.alignSelf {
  align-self: center;
}

.listItem {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@keyframes open {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes close {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
