@use 'styleGlobal' as styleGlobal;

.Error {
  display: flex;
  flex-direction: column;
  gap: 139px;

  &__status {
    height: 263px;
    line-height: 263px;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    color: styleGlobal.$primary-color;
    text-align: center;
  }

  &__message {
    font-size: 36px;
    color: styleGlobal.$primary-color;
    text-align: center;
  }

  &__link {
    font-size: 18px;
    text-align: center;
    color: styleGlobal.$secondary-color;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
