@use 'styleGlobal' as styleGlobal;

.Information {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__description {
    display: flex;
    justify-content: space-between;

    &__host {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 21px;
    }
  }
}

.Information__header {
  width: 100%;
  h2 {
    color: styleGlobal.$primary-color;
    font-size: 36px;
    margin: 0;
  }
  p {
    font-size: 18px;
    margin: 0;
  }

  &__tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
    color: styleGlobal.$text-color;
    margin-top: 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      background-color: styleGlobal.$primary-color;
    }
  }
}

.Information__host {
  display: flex;
  gap: 10px;
  margin-right: 5px;

  &__name {
    height: 52px;
    color: styleGlobal.$primary-color;
    align-self: center;
    p {
      font-size: 18px;
      margin: 0;
    }
  }

  &__photo {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #c4c4c4;
    }
  }
}

.Information__details {
  display: flex;
  gap: 76px;
}
.Information__description__List {
  list-style-type: none;
}
