/****** Variable ***********/
$primary-color: #ff6060;
$secondary-color: #000;
$text-color: #fff;
$border-radius: 25px;

// $footer-background-color: black;
// $grid-background-dark: rgb(0, 0, 0, 0, 0.119);
// $grid-background-light: #fff;
