@import '../../utils/style/global.scss';

$border-radius: 10px;

.LogementCard {
  position: relative;
  display: grid;
  align-items: end;

  @include size(100%, 340px);

  // Mobile
  @media (max-width: 768px) {
    @include size(100%, 255px);
  }

  & img {
    @include image-size(100%, 100%);
    border-radius: $border-radius-small;

    // Tablette
    @media (max-width: 1024px) {
      width: 100%;
    }

    // Mobile
    @media (max-width: 768px) {
      @include size(100%, 255px);
    }
  }

  &__title {
    position: absolute;
    @include size(100%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: $border-radius-small;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(10, 10, 10, 0),
      rgba(4, 4, 4, 0.2),
      rgba(0, 0, 0, 0.5)
    );

    & h2 {
      margin: 0 20px 20px 20px;
      color: $text-color;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
