@import '../../utils/style/global.scss';

$shadow: 0 4px 4px #00000040;

@mixin display-flex($height) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  width: 100%;
  margin: auto;
}

.Banner {
  @include display-flex(233px);
  @include background-img-center;
  border-radius: $border-radius-large;
  background-blend-mode: darken;
  box-shadow: $shadow;

  color: $text-color;
  text-shadow:
    $secondary-color 1px 1px,
    $secondary-color -1px 1px,
    $secondary-color -1px -1px,
    $secondary-color 1px -1px,
    $shadow;

  // Mobile
  @media (max-width: 768px) {
    position: relative;
    @include display-flex(111px);
    border-radius: $border-radius-small;
    border: 1px solid $secondary-color;
    text-shadow: none;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;

    // Tablette
    @media (max-width: 1024px) {
      font-size: 40px;
    }

    // Mobile
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 100%;
      padding-left: 16px;
      width: 225px;

      position: absolute;
      bottom: 32px;
      left: 0;
    }
  }
}

.dark {
  background-color: rgba(0, 0, 0, 0.6);
}

.light {
  background-color: rgba(0, 0, 0, 0.3);
}
